body {
  font-family: "Raleway", sans-serif;
}

.header-block {
  height: 60px;
  z-index: 999;
  top: 0;
}

.container-box {
  margin-top: 60px;
}

.carousel-size {
  position: relative;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .banner-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .banner-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 992px) {
  .banner-title {
    font-size: 59px;
  }
}

.banner-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  font-size: 8px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .banner-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .banner-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .banner-text {
    font-size: 24px;
  }
}

.container__text {
  text-align: center;
}

.image-box {
  background-image: url(../imgs/bg-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 100px;
}

.image-box::before {
  content: "";
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.image-box__title {
  font-size: 16px;
  color: #ffffff;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.image-box__text {
  font-size: 24px;
  color: #ffffff;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.image-box__video {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 65%;
  width: 50%;
}

.container__icons {
  font-family: "Lato", sans-serif;
}

.box-cards {
  align-items: baseline;
}

.card-logo {
  align-items: center;
}

.card-logo__text1 {
  font-size: 32px;
  font-weight: 800;
}

.card-logo__text2 {
  font-size: 16px;
  font-weight: 500;
}

.section-block {
  margin: 0 auto;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-sticker {
  background-color: orange;
  padding: 4px;
}

.tour-value {
  font-size: 14px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .tour-value {
    font-size: 20px;
    font-weight: 300;
  }
}

.card-link {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .card-link {
    font-size: 26px;
    font-weight: 500;
  }
}

.footer--color {
  background-color: #141418;
}

.footer {
  flex-wrap: wrap;
  height: auto;
}

.footer--spacing {
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .footer--spacing {
    margin-top: 26px;
  }
}

@media screen and (min-width: 992px) {
  .footer--spacing {
    margin-top: 0;
  }
}

.footer__form {
  display: flex;
  width: 100%;
  min-width: 200px;
  margin-top: 4pxpx;
  z-index: 2;
}

.footer__form-email {
  border: none;
  width: 80%;
  font-weight: 300;
  background: #fff;
  color: #000;
  padding: 8px 10px;
  border-radius: 0;
  font-size: 14px;
  height: 36px;
}

.footer__form-email:focus {
  outline: 1px solid #19d1c1;
}

.footer__form-position {
  position: relative;
  height: 36px;
}

.footer__form-submit {
  height: 36px;
  padding: 14px 20px;
  background-color: #19d1c1;
  border: none;
  cursor: pointer;
}

.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
